[submodule "assets/urdf"]
	path = assets/urdf
	url = git@github.com:INTERACT-tud-amr/robot-urdfs.git
    branch = main

[submodule "motion"]
	path = motion
	url = git@github.com:tud-airlab/mppi-isaac.git

