<launch>
    <arg name="venv" value="/home/joris/.cache/pypoetry/virtualenvs/namo-lBTKPx24-py3.8/bin/python" />
    
    <arg name="robot_name" default="dingo2" />
    <arg name="obs_name_1" default="squarebox1" />
    <arg name="obs_name_2" default="squarebox2" />

    <arg name="config" default="config_dingo_push" />
    <arg name="layout" default="empty" />

    <arg name="use_dashboard" default="false" />
    <arg name="use_viewer" default="true" />

    <arg name="is_simulation" default="true" />

    <group if="$(eval is_simulation)">
        <node name="controller" pkg="semantic_namo" type="controller" output="screen" launch-prefix="$(arg venv)" >
            <param name="config" value="$(arg config)" />
            <param name="layout" value="$(arg layout)" />
        </node>
    </group>

    <group unless="$(eval is_simulation)">
        <group if="$(eval use_viewer)">
            <node name="visualisation" pkg="semantic_namo" type="visualisation" output="screen" launch-prefix="$(arg venv)" >
                <param name="robot_name" value="$(arg robot_name)" />
                <param name="config" value="$(arg config)" />
                <param name="layout" value="$(arg layout)" />
            </node>
        </group>

        <include file="$(find vicon_bridge)/launch/vicon.launch">
            <arg name="only_use_object_specific" default="true"/>
            <arg name="object_names" value="[$(arg robot_name), $(arg obs_name_1), $(arg obs_name_2)]"/>
            <arg name="object_msg_types" value="[geometry_msgs/PoseStamped, geometry_msgs/PoseStamped, geometry_msgs/PoseStamped]"/>
            <arg name="object_frame_ids" value="[map, map, map]"/>
            <arg name="object_publish_topics" value="[/vicon/$(arg robot_name), /vicon/$(arg obs_name_1), /vicon/$(arg obs_name_2)]"/>
            <arg name="object_frequency_divider" value="[1, 1, 1]"/>
          </include>
    </group>

    <node name="environment" pkg="semantic_namo" type="environment" output="screen" required="true" launch-prefix="$(arg venv)">
        <param name="use_dashboard" value="$(arg use_dashboard)" />
        <param name="is_simulation" value="$(arg is_simulation)" />
        <param name="use_viewer" value="$(arg use_viewer)" />
        <param name="robot_name" value="$(arg robot_name)" />
        <param name="config" value="$(arg config)" />
        <param name="layout" value="$(arg layout)" />
    </node>
</launch>
