<launch>
  <!-- Specify the path to the Python virtual environment -->
  <arg name="venv" value="/home/joris/.cache/pypoetry/virtualenvs/namo-lBTKPx24-py3.8/bin/python" />

  <!-- Launch the node with the specified Python interpreter -->
  <node name="main_server_node" pkg="semantic_namo" type="main_server" output="screen" launch-prefix="$(arg venv)" />
</launch>
